body {
  background-color: white;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2% 3%;
  text-decoration: none;
  font-size: 100%
}

li a:hover {
  background-color: blue;
}

.active {
  background-color: blue; 
}

h1 {
  font-family: "Comic sans MS", sans-serif;
  font-size: 5vw;
  color: black;
  text-align: center; 
}

h2 {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 3.5vw;
  color: black;
  text-align: left;
}

#para1 {
  font-family: "Comic Sans MS", sans-serif;
  color: black;
  font-size: 3vw;
  text-align: left; 
  padding: 5%;
}

#para2 {
  font-family: "Comic Sans MS", sans-serif;
  color: black;
  font-size: 3vw;
  text-align: left; 
  padding: 5%;
}

#logo {
  height: 8vh;
  width: auto;
  position: absolute;
  top: 2%;
  left: 2%;
}

#accueil1 {
  height: 15vh;
  width: auto;
  position: absolute;
  top: 2%;
  left: 2%;
}

#accueil2 {
  height: 15vh;
  width: auto;
  position: absolute;
  top: 2%;
  left: 2%; 
}

#accueil3 {
  height: 15vh;
  width: auto;
  position: absolute;
  top: 2%;
  left: 2%;
}

#accueil4 {
  height: 15vh;
  width: auto;
  positio: absolute;
  top: 2%;
  left 2%;
}
