#para1, #para2 {
  display: block;
  text-align: left;
  font-family: Georgia, serif;
  width: 70%; 
  margin-left: 0%; 
  margin-top: 0%; 
  padding: 0%; 
}

header {
  display: flex;
  align-items: center; 
  padding: 1rem; 
  background-color: red;
}

.logo {
  width: 10%; 
  height: auto; 
  max-width: 50px; /* Limite la largeur du logo */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  display: flex; 
}

li {
  margin-right: 20px; /* Espacement entre les éléments du menu */
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem; 
}

li a:hover {
  background-color: blue; /* Changement de couleur au survol */
}

.active {
  background-color: blue; /* Couleur pour l'élément actif */
}
