#para1, #para2 {
  display: block;
  text-align: left;
  font-family: Georgia, serif;
  width: 70%; 
  margin-left: 0%; 
  margin-top: 0%; 
  padding: 0%; 
}

header {
  display: flex;
  align-items: center; 
  padding: 1rem; 
  background-color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  display: flex; 
}

li {
  margin-right: 20px; /
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem; 
}

li a:hover {
  background-color: blue; 
}

.active {
  background-color: blue; 
}
